<launch>
  <arg name="enabled" default="true"/>
  <arg name="spool_dir" default="/workspace/catkin_ws/data/capture_spool"/>
  <arg name="ingest_ip" default="192.168.50.2"/>
  <arg name="ingest_port" default="8080"/>
  <arg name="api_key" default=""/>
  <arg name="jpeg_quality" default="90"/>
  <arg name="poll_interval_s" default="30"/>
  <arg name="auto_capture" default="true"/>
  <arg name="nav_sample_hz" default="0.5"/>
  <arg name="person_capture" default="true"/>
  <arg name="person_sample_hz" default="1.0"/>
  <arg name="person_tail_seconds" default="5.0"/>
  <arg name="person_min_confidence" default="0.5"/>

  <group if="$(arg enabled)">
    <node pkg="mattbot_capture" type="capture_node.py" name="capture_node" output="screen">
      <param name="spool_dir" value="$(arg spool_dir)"/>
      <param name="jpeg_quality" value="$(arg jpeg_quality)"/>
    </node>

    <node pkg="mattbot_capture" type="capture_uploader.py" name="capture_uploader" output="screen">
      <param name="spool_dir" value="$(arg spool_dir)"/>
      <param name="ingest_ip" value="$(arg ingest_ip)"/>
      <param name="ingest_port" value="$(arg ingest_port)"/>
      <param name="api_key" value="$(arg api_key)"/>
      <param name="poll_interval_s" value="$(arg poll_interval_s)"/>
    </node>

    <node pkg="mattbot_capture" type="capture_auto_trigger.py" name="capture_auto_trigger" output="screen">
      <param name="auto_capture_enabled" value="$(arg auto_capture)"/>
      <param name="nav_sample_hz" value="$(arg nav_sample_hz)"/>
      <param name="person_capture_enabled" value="$(arg person_capture)"/>
      <param name="person_sample_hz" value="$(arg person_sample_hz)"/>
      <param name="person_tail_seconds" value="$(arg person_tail_seconds)"/>
      <param name="person_min_confidence" value="$(arg person_min_confidence)"/>
      <rosparam param="nav_capture_modes">[3, 4, 5, 6, 7, 10, 11]</rosparam>
    </node>
  </group>
</launch>
